# SQL Querries

## Spark Session

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("demo").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/16 10:35:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Loading data in DF

In [7]:
file_path = "../data/record.csv"

df = spark.read \
    .option("header","true") \
    .option('inferSchema','true') \
    .csv(file_path)

In [11]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema = StructType([
    StructField('f_name',StringType(),True),
    StructField('m_name',StringType(),True),
    StructField('l_name',StringType(),True),
    StructField('age',IntegerType(),True),
    StructField('sex',StringType(),True)
])

df = spark.read.schema(schema).csv(file_apth, header=True, inferSchema = True)

In [12]:
df.show()

+------+------+------+---+---+
|f_name|m_name|l_name|age|sex|
+------+------+------+---+---+
| Rajiv|  Mary| Kumar|  5|  F|
|Oliver| Queen|  null|  2|  M|
| Berry|  null| Allen|  1|  M|
|  Tony|  null| Stark|  4|  F|
+------+------+------+---+---+

24/07/16 11:36:23 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Robert, , Williams, 3, M
 Schema: f_name, m_name, l_name, age, sex
Expected: f_name but found: Robert
CSV file: file:///config/workspace/data/record.csv/part-00000-eafc1665-bac4-444e-929d-9a6cdd630f62-c000.csv

## sales data analysis

In [15]:
slaes_file_path = "../data/sales_data.csv"

df = spark.read.csv(slaes_file_path,header= True, inferSchema=True)

In [16]:
df.show()

+-------+---------+--------+-----+----------+
|OrderID|ProductID|Quantity|Price| OrderDate|
+-------+---------+--------+-----+----------+
|      1|      101|       3|  100|2023-01-01|
|      2|      102|       1|  200|2023-01-02|
|      3|      101|       2|  100|2023-01-03|
|      4|      103|       5|   50|2023-01-04|
+-------+---------+--------+-----+----------+

In [17]:
df.createOrReplaceTempView('sales_data')

In [18]:
query = """
SELECT ProductId, sum(Price*Quantity) as total_sales from sales_data
GROUP BY ProductId
"""

spark.sql(query).show()

+---------+-----------+
|ProductId|total_sales|
+---------+-----------+
|      101|        500|
|      103|        250|
|      102|        200|
+---------+-----------+

In [19]:
# top 2 prduct by revenue

query = """
SELECT ProductId, sum(Price*Quantity) as total_sales from sales_data
GROUP BY ProductId ORDER BY total_sales DESC
LIMIT 2
"""

spark.sql(query).show()

+---------+-----------+
|ProductId|total_sales|
+---------+-----------+
|      101|        500|
|      103|        250|
+---------+-----------+

# employee table manupulation using sql querry

In [29]:
emp_path = '../data/employee/employee.csv'
proj_path = '../data/employee/project.csv'

emp_df = spark.read.csv(emp_path, sep = "\t" ,header=True)

In [30]:
emp_df.show()

+------------------------------------+
|employee_id name    experience_years|
+------------------------------------+
|                            1   raam|
|                                   2|
|                                   3|
|                                   4|
+------------------------------------+