In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("delimiter2").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/17 11:59:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/17 11:59:28 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/06/17 11:59:28 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/06/17 11:59:28 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
df = spark.read.option("delimiter",'~|').text("data/delimiter_data")

In [4]:
df.show()

+--------------------+
|               value|
+--------------------+
|           Name~|Age|
|   Manish, Kumar~|28|
| Nitish, Narayan~|28|
|Vikash, VAsistha~|28|
|Suresh, Srivastav...|
|     Mahesh, Jha~|28|
+--------------------+

In [20]:
header = df.first()[0]
header

'Name~|Age'

In [13]:
df.first()[0].split('~|')

['Name', 'Age']

In [14]:
schema = df.first()[0].split('~|')
schema

['Name', 'Age']

In [21]:
df.filter(df['value'] != header).show()

+--------------------+
|               value|
+--------------------+
|   Manish, Kumar~|28|
| Nitish, Narayan~|28|
|Vikash, VAsistha~|28|
|Suresh, Srivastav...|
|     Mahesh, Jha~|28|
+--------------------+

In [22]:
input_df=df.filter(df['value'] != header).rdd.map(lambda x: x[0].split('~|')).toDF(schema)

In [23]:
input_df.show()

+------------------+---+
|              Name|Age|
+------------------+---+
|     Manish, Kumar| 28|
|   Nitish, Narayan| 28|
|  Vikash, VAsistha| 28|
|Suresh, Srivastava| 28|
|       Mahesh, Jha| 28|
+------------------+---+

In [32]:
from pyspark.sql.functions import regexp_replace
df = input_df.withColumn("Name",regexp_replace("Name",',',''))

In [33]:
df.show()

+-----------------+---+
|             Name|Age|
+-----------------+---+
|     Manish Kumar| 28|
|   Nitish Narayan| 28|
|  Vikash VAsistha| 28|
|Suresh Srivastava| 28|
|       Mahesh Jha| 28|
+-----------------+---+