In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("trransformation2").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/17 09:27:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/17 09:27:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [7]:
# df = spark.read.option("header","true").option('delimiter','|').option("lineSep",',').csv("data/input_real_estate.txt")
df = spark.read.option("header","true").option('delimiter','|').csv("data/input_real_estate.txt")

In [8]:
df.show()

+-----------+--------------+------+--------+---------+----+-----------+----------+
|Property_ID|      Location| Price|Bedrooms|Bathrooms|Size|Price_SQ_FT|    Status|
+-----------+--------------+------+--------+---------+----+-----------+----------+
|    1461262| Arroyo Grande|795000|       3|        3|2371|      365.3|Short Sale|
|    1478004|   Paulo Pablo|399000|       4|        3|2818|     163.59|Short Sale|
|    1486551|   Paulo Pablo|545000|       4|        3|3032|     179.75|Short Sale|
|    1492832|     Santa Bay|909000|       4|        4|3540|     286.78|Short Sale|
|    1499102|Thomas Country|109900|       3|        1|1249|      98.99|Short Sale|
|    1489132|Thomas Country|109000|       2|        1|1129|      93.99|Short Sale|
|    1467262|    Fort Worth|987000|       4|        3|2771|      465.3|Short Sale|
|    1478114|   Paulo Pablo|409000|       4|        3|2918|     223.19|Short Sale|
|    1402551|     Nashville|545000|       4|        3|2932|     169.75|Short Sale|
|    1405832|      San Jose|980000|       4|        4|3340|     290.98|Short Sale|
|    1493302|    Fort Worth|119900|       3|        2|2249|     198.99|Short Sale|
|    1412332|Thomas Country|129000|       3|        2|1329|      73.99|Short Sale|
|    1469062| Arroyo Grande|798000|       3|        4|2321|      235.9|Short Sale|
|    1498004|     Nashville|789000|       4|        3|2419|     263.59|Short Sale|
|    1586751|     Nashville|896000|       4|        3|3132|     199.75|Short Sale|
|    1433232|      Glendale|987000|       4|        4|3340|     216.78|Short Sale|
|    1495502|    Fort Worth|219900|       3|        2| 987|     200.99|Short Sale|
|    1489100|      San Jose|107200|       1|        1| 789|      78.99|Short Sale|
+-----------+--------------+------+--------+---------+----+-----------+----------+

In [10]:
df.head(4)

[Row(Property_ID='1461262', Location='Arroyo Grande', Price='795000', Bedrooms='3', Bathrooms='3', Size='2371', Price_SQ_FT='365.3', Status='Short Sale'),
 Row(Property_ID='1478004', Location='Paulo Pablo', Price='399000', Bedrooms='4', Bathrooms='3', Size='2818', Price_SQ_FT='163.59', Status='Short Sale'),
 Row(Property_ID='1486551', Location='Paulo Pablo', Price='545000', Bedrooms='4', Bathrooms='3', Size='3032', Price_SQ_FT='179.75', Status='Short Sale'),
 Row(Property_ID='1492832', Location='Santa Bay', Price='909000', Bedrooms='4', Bathrooms='4', Size='3540', Price_SQ_FT='286.78', Status='Short Sale')]

In [14]:
from pyspark.sql.functions import col
df2 = df.withColumn('final_price', col('Size')*col('Price_SQ_FT'))

In [16]:
df2.show()

+-----------+--------------+------+--------+---------+----+-----------+----------+------------------+
|Property_ID|      Location| Price|Bedrooms|Bathrooms|Size|Price_SQ_FT|    Status|       final_price|
+-----------+--------------+------+--------+---------+----+-----------+----------+------------------+
|    1461262| Arroyo Grande|795000|       3|        3|2371|      365.3|Short Sale|          866126.3|
|    1478004|   Paulo Pablo|399000|       4|        3|2818|     163.59|Short Sale|         460996.62|
|    1486551|   Paulo Pablo|545000|       4|        3|3032|     179.75|Short Sale|          545002.0|
|    1492832|     Santa Bay|909000|       4|        4|3540|     286.78|Short Sale|         1015201.2|
|    1499102|Thomas Country|109900|       3|        1|1249|      98.99|Short Sale|         123638.51|
|    1489132|Thomas Country|109000|       2|        1|1129|      93.99|Short Sale|106114.70999999999|
|    1467262|    Fort Worth|987000|       4|        3|2771|      465.3|Short Sale|         1289346.3|
|    1478114|   Paulo Pablo|409000|       4|        3|2918|     223.19|Short Sale|         651268.42|
|    1402551|     Nashville|545000|       4|        3|2932|     169.75|Short Sale|          497707.0|
|    1405832|      San Jose|980000|       4|        4|3340|     290.98|Short Sale| 971873.2000000001|
|    1493302|    Fort Worth|119900|       3|        2|2249|     198.99|Short Sale|         447528.51|
|    1412332|Thomas Country|129000|       3|        2|1329|      73.99|Short Sale| 98332.70999999999|
|    1469062| Arroyo Grande|798000|       3|        4|2321|      235.9|Short Sale|          547523.9|
|    1498004|     Nashville|789000|       4|        3|2419|     263.59|Short Sale|         637624.21|
|    1586751|     Nashville|896000|       4|        3|3132|     199.75|Short Sale|          625617.0|
|    1433232|      Glendale|987000|       4|        4|3340|     216.78|Short Sale|          724045.2|
|    1495502|    Fort Worth|219900|       3|        2| 987|     200.99|Short Sale|         198377.13|
|    1489100|      San Jose|107200|       1|        1| 789|      78.99|Short Sale| 62323.10999999999|
+-----------+--------------+------+--------+---------+----+-----------+----------+------------------+

In [18]:
df3 = df2.select('Property_ID','Location','final_price')

In [19]:
df3.show()

+-----------+--------------+------------------+
|Property_ID|      Location|       final_price|
+-----------+--------------+------------------+
|    1461262| Arroyo Grande|          866126.3|
|    1478004|   Paulo Pablo|         460996.62|
|    1486551|   Paulo Pablo|          545002.0|
|    1492832|     Santa Bay|         1015201.2|
|    1499102|Thomas Country|         123638.51|
|    1489132|Thomas Country|106114.70999999999|
|    1467262|    Fort Worth|         1289346.3|
|    1478114|   Paulo Pablo|         651268.42|
|    1402551|     Nashville|          497707.0|
|    1405832|      San Jose| 971873.2000000001|
|    1493302|    Fort Worth|         447528.51|
|    1412332|Thomas Country| 98332.70999999999|
|    1469062| Arroyo Grande|          547523.9|
|    1498004|     Nashville|         637624.21|
|    1586751|     Nashville|          625617.0|
|    1433232|      Glendale|          724045.2|
|    1495502|    Fort Worth|         198377.13|
|    1489100|      San Jose| 62323.10999999999|
+-----------+--------------+------------------+

In [20]:
df3.write.option("header",'true').csv('data/output.csv')

In [21]:
df3.write.option("header",'true').parquet('data/output_prq.csv')

In [22]:
df3.first()

Row(Property_ID='1461262', Location='Arroyo Grande', final_price=866126.3)