In [1]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName("demo").getOrCreate()

24/08/16 09:28:39 WARN Utils: Your hostname, manu-pc resolves to a loopback address: 127.0.1.1; using 192.168.157.41 instead (on interface wlp58s0)
24/08/16 09:28:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/16 09:28:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
from pyspark.sql.functions import col

data = [
    ('Manish',28,None),
    ('Subham',30,'gaya'),
    ('Deepak',None,'sasaram'),
    ('Rajnish',24,None),
    ('Jay',None,None),


]
df = spark.createDataFrame(data,['Name','Age','City'])
df.show()

+-------+----+-------+
|   Name| Age|   City|
+-------+----+-------+
| Manish|  28|   null|
| Subham|  30|   gaya|
| Deepak|null|sasaram|
|Rajnish|  24|   null|
|    Jay|null|   null|
+-------+----+-------+

In [9]:
from pyspark.sql.functions import col,count,when
# Checking for the missing value
df.select([count(when(col(c).isNull(),c)).alias(c) for c in df.columns])

DataFrame[Name: bigint, Age: bigint, City: bigint]

In [11]:
from pyspark.sql import  functions as F
missing_counts = df.select([F.count(F.when(F.isnan(c) | F.col(c).isNull(), c)).alias(c) for c in df.columns])
missing_counts.show()

+----+---+----+
|Name|Age|City|
+----+---+----+
|   0|  2|   3|
+----+---+----+

In [17]:
df['Age'].show()

TypeError: 'Column' object is not callable

In [14]:
from pyspark.sql.functions import when
when(df['Age'].isNull(),df['age'])

Column<'CASE WHEN (Age IS NULL) THEN age END'>

In [4]:
df.summary("count").show()

+-------+----+---+----+
|summary|Name|Age|City|
+-------+----+---+----+
|  count|   5|  3|   2|
+-------+----+---+----+

In [5]:
df.describe().show()

+-------+------+------------------+-------+
|summary|  Name|               Age|   City|
+-------+------+------------------+-------+
|  count|     5|                 3|      2|
|   mean|  null|27.333333333333332|   null|
| stddev|  null|3.0550504633038935|   null|
|    min|Deepak|                24|   gaya|
|    max|Subham|                30|sasaram|
+-------+------+------------------+-------+

In [22]:
from pyspark.sql import functions as F

df.select([F.count(F.when(F.col(c).isNull(),c)).alias(c) for c in df.columns]).show()

+----+---+----+
|Name|Age|City|
+----+---+----+
|   0|  2|   3|
+----+---+----+

In [24]:
from pyspark.sql import functions as F
df.select([F.count(F.when(F.col(c).isNull() | F.isnan(c), c)).alias(c) for c in df.columns]).show()

+----+---+----+
|Name|Age|City|
+----+---+----+
|   0|  2|   3|
+----+---+----+

In [ ]:
print("hi")